.data-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-ul {
  list-style: none;
  text-align: left;
  width: 80%;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
