.list-item {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 15px;
  color: #000;
  margin-bottom: 10px;
  display: flex;
}

.list-item a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  text-transform: capitalize;
}

.pokeball-icon {
  width: 40px;
  margin-right: 10px;
}
