.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100px 0 0 100px;
}

.App-section {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pee-section {
  background-color: #004aad;
}

.react-section {
  background-color: #74b0ff;
}

.pee-main-title {
  font-size: 20px;
}

.pee-subtitle {
  font-size: 15px;
}

.pee-subtitle a {
  color: #fff;
}

.App-link {
  color: #fff;
  font-size: 22px;
}

@media screen and (max-width: 700px) {
  .App {
    flex-direction: column;
  }

  .App-section {
    width: 100%;
  }
}
