.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home-section {
  width: -webkit-fill-available;
  height: 48%;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(193, 85, 85, 1);
  padding: 15px;
}

.footer-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.separator-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(87, 87, 87, 1);
}

.separator-btn {
  border: 20px solid rgba(87, 87, 87, 1);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px;
}

.home-separator {
  width: 100%;
  height: 5%;
}

.home-search-input {
  background-color: #fff;
  width: 100%;
}

.search-input-container {
  width: 95vw;
}

.search-input-container input {
  width: 100%;
}
