.pokemon-card-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.pokemon-card-info div {
  width: 33%;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.pokemon-card-info div p {
  font-size: 20px;
  text-transform: capitalize;
}

.pokemon-weight {
  border-left: 1px solid rgb(87, 87, 87);
  border-right: 1px solid rgb(87, 87, 87);
}

.pokemon-card-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
}

@media (max-height: 665px) {
  .pokemon-card-info div {
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
}
